# From the kernel configurations set by default in
# meta-renesas/meta-rzg1/recipes-kernel/linux/linux-renesas (yocto_2.4 branch):
#   iwg20m.cfg

CONFIG_TOUCHSCREEN_EDT_FT5X06=y

# NOTE: No config is curretly picked from defconfig, common.cfg and
# other configs in the same directory. Need to consider pulling required ones.
